[submodule "macports"]
	path = macports
	url = git@github.com:macports/macports-base.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:PisoMojado/dotfiles.git
[submodule "key-store"]
	path = key-store
	url = ssh://key-store@192.168.1.104:/home/key-store/key-store.git
